<div class="card animated fadeIn fast">
        <img class="card-img-top img-fluid" [src]="heroe.img" [alt]="heroe.nombre">
        <div class="card-body">
          <h5 class="card-title">{{ heroe.nombre }}</h5>
          <p class="card-text">{{ heroe.bio }}</p>
          <p class="card-text"><small class="text-muted">{{ heroe.aparicion }}</small></p>
        <!--<a [routerLink]="['/heroe', i]" class="btn btn-outline-primary btn-block">Ver Mas</a>-->

        <button (click)="verHeroe()" type="button" class="btn btn-outline-primary btn-block">        
        Ver mas
        </button>
        </div>
      </div>   